<odoo>
    <data>

        <!-- actions opening views on models -->
        <record model="ir.actions.act_window" id="action_window_outflow_seat">
            <field name="name">Outflow of the Cash Box</field>
            <field name="res_model">cash_box.outflow_seat</field>
            <field name="view_mode">tree,form</field>
        </record>

        <record model="ir.actions.act_window" id="action_window_inflow_seat">
            <field name="name">Inflow of the Cash Box</field>
            <field name="res_model">cash_box.inflow_seat</field>
            <field name="view_mode">tree,form</field>
        </record>

        <!-- Top menu item -->
        <menuitem
                name="Cash Box"
                id="menu_root"
                groups="group_cash_box_user,group_cash_box_manager"/>


        <!-- menu categories -->
        <menuitem
                name="Cash Box" id="categories_menu_1"
                parent="menu_root"/>
        <!-- menu categories -->
        <menuitem
                name="Report"
                id="categories_menu_2"
                parent="menu_root"/>

        <!-- actions -->
        <menuitem name="Outflow"
                  id="action_category_outflow_seat"
                  parent="categories_menu_1"
                  action="action_window_outflow_seat"/>

        <menuitem
                name="Inflow" id="action_category_inflow_seat"
                parent="categories_menu_1"
                action="action_window_inflow_seat"
                groups="group_cash_box_user,group_cash_box_manager"/>

    </data>
</odoo>