#type_voucher {
    margin-top: 1% !important;
    color: #34495e !important;
    text-align: center !important;
    font-size: 30px;
@font-family-serif: Georgia, "Times New Roman", Times, serif;

}

#data_voucher {
    text-align: left !important;
    color: #000000;
    font-size: 18px !important;
@font-family-serif: Georgia, "Times New Roman", Times, serif;
}

#report-container{
    margin-top: 3% !important;
}

#slogan {
    color: #5f5e97 !important;
    /*margin-left: 20%!important;*/
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif !important;
    font-size: 14px !important;

}

#report-phone {
    margin-top: -2% !important;
    margin-left: 19% !important;
    font-size: 14px !important;
}

#report-email {
    margin-top: -5% !important;
    margin-left: 20% !important;
    font-size: 14px !important;
}

#report-name {
    margin-top: -8% !important;
    margin-left: 20% !important;
    font-size: 18px !important;
    color: #5f5e97 !important;
}

#page{
    margin-top: 15% !important;
}

#footer{
    background-color:#bfbea8 !important;
    border-radius: 80% !important;
}
